:root {
    --primary-color: #7A3DFF;
    --highligth-color: #30FFC2;
    --secondary-color: #E5D9FF;
    --second-secondary-color: #B694FF;
  }
.fondo-color-primario{
    background-color: var(--primary-color);
    color: white;
    
}
.nav{
    justify-content: space-between;

}
.nav-link{
    color: white;
}
.nav-link-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around;

    
}

.logoTamanio {
    height: 2.5rem;
    width: 2.5rem;
}
